.LottoBall {
    display: inline-block;
    margin: 0.3em ;
    width: 3rem;
    height: 3rem;
    /* format */
    border-radius: 50%;
    background-color: tomato;
}
.LottoBall p{
    /* content */
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: .9rem;
    vertical-align: center;

}