.header{
 padding: 1rem 1rem 1rem;
 width: 90%;
 height: 10%;
 flex-direction: row;
 display: flex;
 justify-content: space-around;
 justify-items: center;
 background: linear-gradient(60deg, rgba(255,255,255,.2) 25%, rgba(9,9,121,.8) 45%, rgba(2,0,36,.9) 100%);


}
.title {
 font-family: "Open Sans", fantasy, sans-serif;
 color: #FFF;
 font-size : 3rem;
 text-decoration: none;
 flex-grow: 1;
 align-self: auto;
}

